body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(201, 177, 224);
    color: blueviolet;
}
header{
    background-color: aqua;
    color: aquamarine;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px green;
}

header h1{
    margin: 0%;
    font-size: 2.5;
    
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: blue;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color o.3s ease;
}

nav ul li a:hover{
    color: black;
}

main{
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background: floralwhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section{
    margin-bottom: 20px;
}

section h2{
    font-size: 1.8rem;
    color: rgb(43, 43, 223);
    border-bottom: 2px solid #rgb;
    padding-bottom: 5px;
}

section p{
    font-size: 1.rem;
    line-height: 1.8;
    margin-top: 10px;
}
footer{
    background-color: black;
    color: rgb(248, 250, 251);
    text-align: center;
    padding: 1rem;
}